.client {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  transition: color var(--transition), border-color var(--transition);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.client__icon {
  fill: currentColor;
}
