@media screen and (max-width: 479px) {
  .client__link {
    max-width: 210px;
  }
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 320px) {
  .client {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    height: 92px;
    color: var(--icon-color);
    transition: color var(--transition), border-color var(--transition);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      color: var(--accent-color);
    }
  }
  .client__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

// .client {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }
// .client__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid var(--icon-color);
//   border-radius: 4px;
//   width: 170px;
//   height: 92px;
//   color: var(--icon-color);
//   transition: color var(--transition), border-color var(--transition);

//   &:hover,
//   &:focus {
//     border-color: var(--accent-color);
//     color: var(--accent-color);
//   }
// }
// .client__icon {
//   fill: currentColor;
// }
