.hero {
  background-color: var(--hero-background);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/шапка.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include font();
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-color-text-dark-them);
}

.hero__button {
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  @include font(700, 16px, 30px);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-color-text-dark-them);
  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-twelwe);
  }
}
