.filter-list {
  @include flex();
  justify-content: center;
}
.portfolio__filter-list {
  margin-bottom: 50px;
}
.filter-list__item:not(:last-child) {
  display: block;
  margin-right: 8px;
}
.filter-list__button {
  display: block;
  padding: 6px 22px;
  background-color: var(--secondary-background);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  color: var(-primery-color-text-white-them);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primery-color-text-dark-them);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list__link {
  display: block;
  transition: box-shadow var(--transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-list__item {
  display: contents;
  flex-basis: calc(100% - 60px / 3);
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper__overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: var(--transition);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translate(0, 0);
  }
}

.portfolio-wrapper__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-color-text-white-them);
}
.portfolio-wrapper__type {
  font-size: var(--secondary-font-size);
  line-height: 1.89;
  color: var(--secondary-color-text-white-them);
}
.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
