.work-section {
  padding-top: 0;
}
.work {
  flex-wrap: wrap;
  align-items: center;
}

.work__item {
  width: 370px;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
.work__wrapper {
  position: relative;
}
.work__descriptione {
  position: absolute;
  bottom: 0;
  left: 0;
  @include flex();
  justify-content: center;
  width: 100%;
  height: 70px;

  text-align: center;
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--primery-color-text-dark-them);
  background-color: rgba(47, 48, 58, 0.8);
}
