.logo {
  font-family: var(--secondary-font);
  color: var(--accent-color);
}
.logo__studio {
  font-family: var(--secondary-font);
}
.logo__studio-dark {
  color: var(--logo-black-color);
}

.logo__studio-light {
  color: var(--primery-color-text-dark-them);
}
