:root {
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primery-font-size: 14px;
  --secondary-font-size: 16px;
  --label-font-size: 12px;
  --primery-letter-spacing: 0.03em;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primery-background: #2f303a;
  --secondary-background: #f5f4fa;
  --white-background: #ffffff;
  --hero-background: #c4c4c4;
  --works-background: #2F303A 80 %
  --modal-border-color: #afb1b8;
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --input-border-color: rgba(0, 0, 0, 0.2);
  --input-border-color-dark-them: rgba(255, 255, 255, 0.3);
  

  --primery-color-text-white-them: #212121;
  --secondary-color-text-white-them: #757575;
  --primery-color-text-dark-them: #ffffff;
  --secondary-color-text-dark-them: rgba(255, 255, 255, 0.6);;
  --placeholder-text-white-them: #757575 50 %;

  --accent-color: #2196f3;
  --border-color: #eeeeee;
  --logo-black-color: #000000;
  --icon-color: #afb1b8;
  --color-seven: #f5f4fa;
  --color-nine: #2f303a;
  --color-ten: #ececec;
  --color-twelwe: #188ce8;
}